<div class="container-fluid d-flex justify-content-cente align-items-stretch">
  <div class="row">
    <div
      [ngClass]="isSmallScreen ? 'hide-form' : ''"
      class="col d-flex justify-content-center flex-column align-items-center p-5"
    >
      <div class="mb-1">
        <button class="view-issues-btn" routerLink="/issues/open-issues">
          <fa-icon [icon]="faCaretLeft" (click)="toggleRegister()"></fa-icon>
          View all issues
        </button>
        <h1 class="title">Issue tracker</h1>
        <h6 class="text-muted">
          Easily manage and track your organization's issues. Resolve and
          provide necessary resolution. Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Veritatis pariatur saepe laudantium consequatur non
          neque adipisci dicta! Minus placeat totam accusantium dicta earum
          ipsam.
        </h6>
        <div class="d-flex mt-4 d-lg-none">
          <button
            (click)="toggleForm()"
            type="button"
            class="btn btn-success align-self-center login-btn"
          >
            Get started
          </button>
        </div>
      </div>
    </div>
    <div
      [ngClass]="isSmallScreen ? 'show-form' : ''"
      class="col d-flex justify-content-center flex-column align-items-center d-none d-lg-flex"
    >
      <div class="card" [ngClass]="isSmallScreen ? 'adjust-card' : ''">
        <div class="card-body">
          <div class="d-flex justify-content-center m-3">
            <h3 class="card-title" *ngIf="isRegistered">Login</h3>
            <h3 class="card-title" *ngIf="!isRegistered">Register</h3>
          </div>
          <form #formValues="ngForm" (ngSubmit)="onSubmit(formValues)">
            <label *ngIf="!isRegistered">First name:</label>
            <input
              *ngIf="!isRegistered"
              type="text"
              class="form-control form control-sm"
              name="firstName"
              ngModel
              required
            />

            <label *ngIf="!isRegistered">Last name:</label>
            <input
              *ngIf="!isRegistered"
              type="text"
              class="form-control form control-sm"
              name="lastName"
              ngModel
              required
            />

            <label>Email:</label>
            <input
              type="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              class="form-control form control-sm"
              name="email"
              ngModel
              required
            />
            <label>Password:</label>
            <input
              [type]="isShowPassword ? 'text' : 'password'"
              class="form-control form control-sm"
              name="password"
              ngModel
              required
            />

            <label *ngIf="!isRegistered">Re-type password:</label>
            <input
              *ngIf="!isRegistered"
              [type]="isShowPassword ? 'text' : 'password'"
              class="form-control form control-sm"
              name="repassword"
              ngModel
              required
            />
            <input
              type="checkbox"
              (click)="showPassword()"
              [(ngModel)]="isShowPassword"
              [ngModelOptions]="{ standalone: true }"
            />
            Show Password
            <div class="d-flex justify-content-center flex-column mt-4">
              <button
                *ngIf="isRegistered"
                class="btn btn-success"
                type="submit"
              >
                Submit
              </button>
              <button
                *ngIf="!isRegistered"
                [disabled]="!formValues.form.valid"
                class="btn btn-success"
                type="submit"
              >
                Submit
              </button>
              <p *ngIf="isRegistered" class="align-self-center">
                Don't have an account?<button
                  class="sign-up-btn link"
                  (click)="toggleRegister()"
                >
                  Sign up
                </button>
              </p>
              <fa-icon
                *ngIf="!isRegistered"
                [icon]="faArrowLeft"
                class="mt-4"
                (click)="toggleRegister()"
              ></fa-icon>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
