@import "../../../../styles.scss";
.container-fluid {
  height: 100vh;
  background-color: $primary-color;
  .row {
    width: 100%;
    .col:nth-child(1) {
      .view-issues-btn {
        background-color: transparent;
        border: none;
        color: $primary-link-color;
        font-weight: bolder;
      }
      .title {
        font-size: 6rem;
      }
    }
  }
}
.card {
  box-shadow: 1px 1px 9px #888888;
  border: none;
  width: 25rem;
  margin: 0%;
}
.sign-up-btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

fa-icon {
  cursor: pointer;
}

.btn {
  background-color: $primary-btn-color;
  border: 1px solid $primary-btn-color;
}
.btn:hover {
  background-color: $secondary-btn-color;
}
.login-btn {
  padding: 1rem;
}
.show-form {
  display: flex !important;
}
.hide-form {
  display: none !important;
}

@media (max-width: 450px) {
  .card {
    width: auto;
  }
  .title {
    font-size: 5rem !important;
  }
}
