<div class="container-fluid d-flex justify-content-cente align-items-stretch">
  <div class="row">
    <div
      [ngClass]="isSmallScreen ? 'hide-form' : ''"
      class="col d-flex justify-content-center flex-column align-items-center p-5"
    >
      <div class="mb-1">
        <button class="view-issues-btn" (click)="viewIssues()">
          <fa-icon [icon]="faCaretLeft"></fa-icon>
          View all issues
        </button>
        <h1 class="title">Issue tracker</h1>
        <h6 class="text-muted">
          Easily manage and track your organization's issues. Resolve and
          provide necessary resolution. Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Veritatis pariatur saepe laudantium consequatur non
          neque adipisci dicta! Minus placeat totam accusantium dicta earum
          ipsam.
        </h6>
        <div class="d-flex mt-4 d-lg-none">
          <button
            (click)="toggleForm()"
            type="button"
            class="btn btn-success align-self-center login-btn"
          >
            Get started
          </button>
        </div>
      </div>
    </div>
    <div
      [ngClass]="isSmallScreen ? 'show-form' : ''"
      class="col d-flex justify-content-center flex-column align-items-center d-none d-lg-flex"
    >
      <div class="card" [ngClass]="isSmallScreen ? 'adjust-card' : ''">
        <div class="card-body">
          <div class="d-flex justify-content-center m-3">
            <h3 class="card-title" *ngIf="isRegistered">Login</h3>
            <h3 class="card-title" *ngIf="!isRegistered">Sign-up</h3>
          </div>
          <form #formValues="ngForm" (ngSubmit)="onSubmit(formValues)">
            <div *ngIf="isRegistered" class="login-form">
              <div class="form-floating">
                <i class="fa-solid fa-envelope fa-lg"></i>
                <input
                  type="email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  class="form-control form control-sm"
                  name="loginEmail"
                  ngModel
                  required
                  placeholder="Email"
                />
                <label for="floatingName">Email</label>
              </div>
              <div class="form-floating">
                <input
                  [type]="isShowPassword ? 'text' : 'password'"
                  class="form-control form control-sm"
                  name="loginPassword"
                  ngModel
                  required
                  placeholder="Password"
                />
                <label for="floatingName">Password</label>
              </div>
              <input
                type="checkbox"
                (click)="showPassword()"
                [(ngModel)]="isShowPassword"
                [ngModelOptions]="{ standalone: true }"
              />
              Show Password
              <p *ngIf="isValidCredentials" class="alert">
                Invalid username or password!
              </p>
              <div class="d-flex justify-content-center flex-column mt-4">
                <button class="btn btn-success" type="submit">Submit</button>
                <p *ngIf="isRegistered" class="align-self-center">
                  Don't have an account?<button
                    class="sign-up-btn link"
                    (click)="toggleRegister()"
                  >
                    Sign up
                  </button>
                </p>
              </div>
            </div>
            <div *ngIf="!isRegistered" class="sign-up-form">
              <input
                type="text"
                class="form-control form control-sm"
                name="firstName"
                ngModel
                required
                placeholder="First name"
              />

              <input
                type="text"
                class="form-control form control-sm"
                name="lastName"
                ngModel
                required
                placeholder="Last name"
              />

              <input
                type="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                class="form-control form control-sm"
                name="signupEmail"
                ngModel
                required
                placeholder="Email"
              />

              <input
                [(ngModel)]="signupPassword"
                [type]="isShowPassword ? 'text' : 'password'"
                class="form-control form control-sm"
                name="signupPassword"
                ngModel
                required
                placeholder="Password"
              />

              <input
                [(ngModel)]="confirmPassword"
                [type]="isShowPassword ? 'text' : 'password'"
                class="form-control form control-sm"
                name="confirmPassword"
                ngModel
                required
                placeholder="Confirm password"
              />

              <input
                type="checkbox"
                (click)="showPassword()"
                [(ngModel)]="isShowPassword"
                [ngModelOptions]="{ standalone: true }"
              />
              Show Password
              <p
                *ngIf="
                  formValues.form.invalid &&
                  (formValues.form.dirty || formValues.form.touched)
                "
                class="alert"
              >
                Please complete the required reqired fields.
              </p>
              <p *ngIf="signupPassword != confirmPassword" class="alert">
                Password didn't match.
              </p>
              <div class="d-flex justify-content-center flex-column mt-4">
                <button
                  *ngIf="!isRegistered"
                  [disabled]="
                    !(
                      formValues.form.valid && signupPassword == confirmPassword
                    )
                  "
                  class="btn btn-success"
                  type="submit"
                >
                  Submit
                </button>

                <fa-icon
                  [icon]="faArrowLeft"
                  class="mt-4"
                  (click)="toggleRegister()"
                ></fa-icon>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
