tr {
  display: flex;
  .col-4 {
    border-right: 2px solid black;
  }
}
.card {
  min-width: 400px;
}
.back-btn {
  background-color: transparent;
  border: none;
}
fa-icon {
  padding: 0;
}
.container-fluid {
  height: 100vh;
}
