<form #formValues="ngForm" (ngSubmit)="onUpdateTicket(formValues)">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <div class="actions">
          <h5 class="me-auto">
            {{ ticketNumber }}
          </h5>
          <button
            [disabled]="editMode"
            *ngIf="!closeMode"
            (click)="toggleClose()"
            class="btn btn-success btn-sm"
            type="button"
          >
            Resolve ticket
          </button>
          <button
            [disabled]="!formValues.form.valid"
            *ngIf="closeMode"
            class="btn btn-success btn-sm"
            type="submit"
          >
            Close ticket
          </button>
          <button
            [disabled]="closeMode"
            *ngIf="!editMode"
            class="btn btn-primary btn-sm"
            type="button"
            (click)="toggleUpdate()"
          >
            Update ticket
          </button>
          <button
            [disabled]="!formValues.form.valid"
            *ngIf="editMode"
            class="btn btn-primary btn-sm"
            type="submit"
          >
            Submit changes
          </button>
        </div>
        <tbody>
          <tr>
            <div class="col-4">
              <label for="">Subject:</label>
            </div>
            <div class="col-8">
              <td *ngIf="!editMode">{{ subject }}</td>
              <div *ngIf="editMode">
                <input
                  required
                  type="text"
                  class="form-control form-control-sm"
                  max-width="8px"
                  name="subject"
                  ngModel
                  [textContent]="subject"
                />
              </div>
            </div>
          </tr>
          <tr>
            <div class="col-4">
              <label for="">Description:</label>
            </div>
            <div class="col-8">
              <td *ngIf="!editMode">{{ description }}</td>
              <div *ngIf="editMode" class="form-floating">
                <textarea
                  required
                  id="floatingTextarea"
                  class="form-control form-control-sm"
                  name="description"
                  ngModel
                ></textarea>
              </div>
            </div>
          </tr>
          <tr>
            <div class="col-4">
              <label for="">Date created:</label>
            </div>
            <div class="col-8">
              <td>{{ dateCreated }}</td>
            </div>
          </tr>
          <tr>
            <div class="col-4">
              <label for="">Opened by:</label>
            </div>
            <div class="col-8">
              <td>{{ openedBy }}</td>
            </div>
          </tr>
          <tr>
            <div class="col-4">
              <label for="">Assigned to:</label>
            </div>
            <div class="col-8">
              <td *ngIf="!editMode">{{ assignedTo }}</td>
              <div *ngIf="editMode">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="assignedTo"
                  ngModel
                >
                  <option value=""></option>
                  <option *ngFor="let user of users">
                    {{ user.firstName + " " + user.lastName }}
                  </option>
                </select>
              </div>
            </div>
          </tr>
          <tr>
            <div class="col-4">
              <label for="">Status:</label>
            </div>
            <div class="col-8">
              <td>{{ status }}</td>
            </div>
          </tr>
          <tr *ngIf="closeMode">
            <div class="col-4">
              <label for="">Resolution:</label>
            </div>
            <div class="col-8">
              <div class="form-floating">
                <textarea
                  minlength="15"
                  required
                  id="floatingTextarea"
                  name="resolution"
                  ngModel
                  class="form-control form-control-sm"
                ></textarea>
              </div>
            </div>
          </tr>
        </tbody>
        <div class="actions">
          <button
            *ngIf="!editMode && !closeMode"
            routerLink="/issues/open-issues"
            class="btn btn-secondary btn-sm"
          >
            Back
          </button>
          <button
            *ngIf="editMode"
            (click)="cancelUpdate()"
            class="btn btn-secondary btn-sm"
            type="button"
          >
            Cancel
          </button>
          <button
            *ngIf="closeMode"
            (click)="cancelClose()"
            class="btn btn-secondary btn-sm"
            type="button"
          >
            Cancel
          </button>
        </div>
      </table>
    </div>
  </div>
</form>
