.user-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  height: fit-content;
  padding: 0.5rem;
  padding-top: 4rem;
  .column {
    min-width: 18rem;
  }
}
.ticket-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
}
.card {
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 3px #888888;
  border: none;
}
